# Course 601: Introduction to Data Science
## Course Project Topic: Weather Forecast


## Members:

   ## - Professor: Huthaifa Ashqar
   ## - Students:
<ul>
    <li>Sarang Rajendra Patil</li>
    <li>Aishwarya Kale</li>
    <li>Spandana Chennamaneni</li>
    <li>Sai Karteek Edumudi</li>
    <li>Suvidha Vaddula</li>
    <li>Levan Sulimanov</li>
</ul>
_________________________________________________________________________________

### Project Task List

- [x] Find Weather Dataset (KBWI airport, Maryland): https://www.ncdc.noaa.gov/cdo-web/datatools/lcd - **Levan**
- [x] Merge Datasets - **Karteek**
- [x] Fix Dataset column's data types using Excel - **Levan** 
- [x] Remove unnecessary columns and clean data type mixes in columns (two data types per column -> fix to single data type for consistency) - **Levan**
- [ ] NaN values interpolation - 
- [ ] Visualize weather dataset ( feature insights, etc.) - (2 graphs from each member)
    - [ ] **Sarang**
    - [ ] **Aishwarya**
    - [ ] **Spandana**
    - [ ] **Karteek**
    - [ ] **Suvidha**
    - [ ] **Levan**
- [ ] Visualization of correlation between features - **Sarang**  
- [ ] Data Distribution - **Spandana, Suvidha, Aishwarya**
- [ ] Correlate current data with POWER.LARC NASA's dataset (https://power.larc.nasa.gov/data-access-viewer/) - **Levan**
- [ ] Split data for train, test, validate (7 days to predict next 7 days - needs group discussion)
- [ ] Train Data using Logistic Regression
- [ ] Evaluate LogReg model (precision, recall, etc)
- [ ] Train Data using Random Forest
- [ ] Evaluate RFR model (precision, recall, etc)
- [ ] Train Data using RNN
- [ ] Evaluate RFR model (precision, recall, etc)
- [ ] **Paper**
    - [ ] Abstract - **Aishwarya**
    - [ ] Introduction - 
    - [ ] Previous Approaches
    - [ ] Our changes/approach (description of each approach)
    - [ ] Results
    - [ ] Plots

# Project implementation:

### Module Imports

In [327]:
import os
import pandas as pd
import numpy as np
import statistics

### Steps to merge the data and set column data types (dtypes)

In [10]:
# We provide merged file at the end, so this section is commented out

# Import initial data and check imported data

# # get current directory
# curr_dir = os.getcwd()

# data_dir = os.path.join(curr_dir, "main_data")

# # dataset name
# data1 = "1991_2000.csv"
# data2 = "2001_2010.csv"
# data3 = "2011_2020.csv"

# df1_dir = os.path.join(data_dir, data1)
# df2_dir = os.path.join(data_dir, data2)
# df3_dir = os.path.join(data_dir, data3)

# df1 = pd.read_csv(df1_dir) # dtype={0:str, 1:str, 2:str, 3:str, 4:int, })
# df2 = pd.read_csv(df2_dir)
# df3 = pd.read_csv(df3_dir)

# df_parts = [df1, df2, df3]
# merged_data = pd.concat(df_parts)

In [11]:
# merged_data.head(5)

##### We see that a lot of values are labeled as NaN
##### We have found that this happens due to unknown data type per column, and this can be fixed using manual set of dtype per column

##### In the Excel, each column was investigated and assigned appropriate data type: integer, float (2 decimal), text

In [12]:
# Following is the list of column names from merged csv

In [17]:
'''
['STATION':str,
 'DATE':str,
 'REPORT_TYPE':str,
 'SOURCE':str,
 'AWND',
 'BackupDirection',
 'BackupDistance',
 'BackupDistanceUnit',
 'BackupElements',
 'BackupElevation',
 'BackupElevationUnit',
 'BackupEquipment',
 'BackupLatitude',
 'BackupLongitude',
 'BackupName',
 'CDSD',
 'CLDD',
 'DSNW',
 'DailyAverageDewPointTemperature',
 'DailyAverageDryBulbTemperature',
 'DailyAverageRelativeHumidity',
 'DailyAverageSeaLevelPressure',
 'DailyAverageStationPressure',
 'DailyAverageWetBulbTemperature',
 'DailyAverageWindSpeed',
 'DailyCoolingDegreeDays',
 'DailyDepartureFromNormalAverageTemperature',
 'DailyHeatingDegreeDays',
 'DailyMaximumDryBulbTemperature',
 'DailyMinimumDryBulbTemperature',
 'DailyPeakWindDirection',
 'DailyPeakWindSpeed',
 'DailyPrecipitation',
 'DailySnowDepth',
 'DailySnowfall',
 'DailySustainedWindDirection',
 'DailySustainedWindSpeed',
 'DailyWeather',
 'HDSD',
 'HTDD',
 'HeavyFog',
 'HourlyAltimeterSetting',
 'HourlyDewPointTemperature',
 'HourlyDryBulbTemperature',
 'HourlyPrecipitation',
 'HourlyPresentWeatherType',
 'HourlyPressureChange',
 'HourlyPressureTendency',
 'HourlyRelativeHumidity',
 'HourlySeaLevelPressure',
 'HourlySkyConditions',
 'HourlyStationPressure',
 'HourlyVisibility',
 'HourlyWetBulbTemperature',
 'HourlyWindDirection',
 'HourlyWindGustSpeed',
 'HourlyWindSpeed',
 'MonthlyAverageRH',
 'MonthlyDaysWithGT001Precip',
 'MonthlyDaysWithGT010Precip',
 'MonthlyDaysWithGT32Temp',
 'MonthlyDaysWithGT90Temp',
 'MonthlyDaysWithLT0Temp',
 'MonthlyDaysWithLT32Temp',
 'MonthlyDepartureFromNormalAverageTemperature',
 'MonthlyDepartureFromNormalCoolingDegreeDays',
 'MonthlyDepartureFromNormalHeatingDegreeDays',
 'MonthlyDepartureFromNormalMaximumTemperature',
 'MonthlyDepartureFromNormalMinimumTemperature',
 'MonthlyDepartureFromNormalPrecipitation',
 'MonthlyDewpointTemperature',
 'MonthlyGreatestPrecip',
 'MonthlyGreatestPrecipDate',
 'MonthlyGreatestSnowDepth',
 'MonthlyGreatestSnowDepthDate',
 'MonthlyGreatestSnowfall',
 'MonthlyGreatestSnowfallDate',
 'MonthlyMaxSeaLevelPressureValue',
 'MonthlyMaxSeaLevelPressureValueDate',
 'MonthlyMaxSeaLevelPressureValueTime',
 'MonthlyMaximumTemperature',
 'MonthlyMeanTemperature',
 'MonthlyMinSeaLevelPressureValue',
 'MonthlyMinSeaLevelPressureValueDate',
 'MonthlyMinSeaLevelPressureValueTime',
 'MonthlyMinimumTemperature',
 'MonthlySeaLevelPressure',
 'MonthlyStationPressure',
 'MonthlyTotalLiquidPrecipitation',
 'MonthlyTotalSnowfall',
 'MonthlyWetBulb',
 'NormalsCoolingDegreeDay',
 'NormalsHeatingDegreeDay',
 'REM',
 'REPORT_TYPE.1',
 'SOURCE.1',
 'ShortDurationEndDate005',
 'ShortDurationEndDate010',
 'ShortDurationEndDate015',
 'ShortDurationEndDate020',
 'ShortDurationEndDate030',
 'ShortDurationEndDate045',
 'ShortDurationEndDate060',
 'ShortDurationEndDate080',
 'ShortDurationEndDate100',
 'ShortDurationEndDate120',
 'ShortDurationEndDate150',
 'ShortDurationEndDate180',
 'ShortDurationPrecipitationValue005',
 'ShortDurationPrecipitationValue010',
 'ShortDurationPrecipitationValue015',
 'ShortDurationPrecipitationValue020',
 'ShortDurationPrecipitationValue030',
 'ShortDurationPrecipitationValue045',
 'ShortDurationPrecipitationValue060',
 'ShortDurationPrecipitationValue080',
 'ShortDurationPrecipitationValue100',
 'ShortDurationPrecipitationValue120',
 'ShortDurationPrecipitationValue150',
 'ShortDurationPrecipitationValue180',
 'Sunrise',
 'Sunset',
 'TStorms',
 'WindEquipmentChangeDate']
 '''
None

In [18]:
# Let's save merged data into CSV
#merged_data.to_csv("./main_data/merged_data.csv", index=False)

In [19]:
# merged_data.shape is (408747, 125)

In [20]:
# A lot of columns are not needed for our research, such as SOURCE.1 and Backup columns, together with ShortDuration data
# So we are going to discard it manually via Excel
# The average (daily and monthly) also can be discarded, since we have hourly data, thus we can calculate it on the go if needed

# Reason why we change data type manually, is that we need to look into actual values, whereas here, values are still shown as NaN
# But in the excel sheet, they are clearly visible, please see excel image attached.

### Sample images from excel analysis:
![alt text](excel_analysis_sample/column_data_type_adjustment.PNG "Fixing Data Type")
![alt text](excel_analysis_sample/cleaning_extra_strings_in_numbers.PNG "Removing unnecessary strings from numbers")

In [21]:
# Next we going to work on the NaN values conversion to actual values (set column's data types to their actual type)

In [213]:
# Removed columns:
'''
* Unnamed
* All "Backup..." columns
* All Daily Average
* All Monthly Average
* AWND
* CDSD
* CLDD
* DSNW
* HDSD
* HTDD
* HeavyFog
* TStorms
* WindEquipmentChangeDate
* SOURCE.1
* All "ShortDuration..."
* TStorms
* WindEquipmentChangeDate
* NormalsCoolingDegreeDay
* NormalsHeatingDegreeDay
'''

'\n* Unnamed\n* All "Backup..." columns\n* All Daily Average\n* All Monthly Average\n* AWND\n* CDSD\n* CLDD\n* DSNW\n* HDSD\n* HTDD\n* HeavyFog\n* TStorms\n* WindEquipmentChangeDate\n* SOURCE.1\n* All "ShortDuration..."\n* TStorms\n* WindEquipmentChangeDate\n* NormalsCoolingDegreeDay\n* NormalsHeatingDegreeDay\n'

In [214]:
# list(merged_data.columns.values)

In [215]:
# print(len(list(weather_df.columns.values)))
# New number of columns is 87

In [216]:
# Columns that we get after removing unnecessary columns
# Let's label expected data type for each

In [217]:
'''
columns_dict = {'STATION':str,
 'DATE':str,
 'REPORT_TYPE':str,
 'SOURCE':str,
 'HourlyAltimeterSetting':float,
 'HourlyDewPointTemperature':int,
 'HourlyDryBulbTemperature':int,
 'HourlyPrecipitation':float,
 'HourlyPresentWeatherType':str,
 'HourlyPressureChange':float,
 'HourlyPressureTendency':float,
 'HourlyRelativeHumidity':float,
 'HourlySeaLevelPressure':float,
 'HourlySkyConditions':str,
 'HourlyStationPressure':float,
 'HourlyVisibility':float,
 'HourlyWetBulbTemperature':int,
 'HourlyWindDirection':str,
 'HourlyWindGustSpeed':float,
 'HourlyWindSpeed':float,
 'REM':str,
 'REPORT_TYPE.1':str,
 'Sunrise':str,
 'Sunset':str}
'''
None

In [218]:
# Finally, after setting all data types for all columns using excel, we can now import it into our notebook

In [328]:
# get current directory
curr_dir = os.getcwd()
data_folder = "main_data"
dataset_name = "merged_data_types_defined.csv"
dataset_location = os.path.join(curr_dir, data_folder, dataset_name)

pd.options.display.max_columns = None
weather_df = pd.read_csv(dataset_location, low_memory=False)

In [329]:
weather_df.head(5)

,STATION,DATE,REPORT_TYPE,SOURCE,HourlyAltimeterSetting,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPrecipitation,HourlyPresentWeatherType,HourlyPressureChange,HourlyPressureTendency,HourlyRelativeHumidity,HourlySeaLevelPressure,HourlySkyConditions,HourlyStationPressure,HourlyVisibility,HourlyWetBulbTemperature,HourlyWindDirection,HourlyWindGustSpeed,HourlyWindSpeed,REM,REPORT_TYPE.1,Sunrise,Sunset
0,72406093721,1991-01-01T00:00:00,SAO,C,30.59,13.0,29.0,0.0,NaN,NaN,NaN,51.0,30.60,NaN,30.42,19.88,24.0,330.0,NaN,9.0,NaN,SAO,NaN,NaN
1,72406093721,1991-01-01T01:00:00,SAO,3,30.59,13.0,28.0,0.0,NaN,-0.02,1.0,53.0,30.60,NaN,30.42,19.88,24.0,320.0,NaN,8.0,AWY015107 20006 46328,SAO,NaN,NaN
2,72406093721,1991-01-01T02:00:00,SAO,3,30.60,15.0,26.0,0.0,NaN,NaN,NaN,63.0,30.60,NaN,30.43,19.88,23.0,260.0,NaN,5.0,NaN,SAO,NaN,NaN
3,72406093721,1991-01-01T03:00:00,SAO,3,30.62,16.0,26.0,0.0,NaN,NaN,NaN,66.0,30.63,NaN,30.45,19.88,23.0,320.0,NaN,6.0,NaN,SAO,NaN,NaN
4,72406093721,1991-01-01T04:00:00,SAO,3,30.61,16.0,24.0,0.0,NaN,-0.02,0.0,71.0,30.62,NaN,30.44,19.88,22.0,350.0,NaN,3.0,AWY003007,SAO,NaN,NaN

In [330]:
weather_df.shape

(408747, 24)

In [331]:
'''
Columns: 
    - Hourly Present Weather Type (HourlyPresentWeatherType)
    - Hourly Sky Conditions (HourlySkyConditions)
    - Hourly Wind Gust Speed (HourlyWindGustSpeed)
    - Sunrise (Sunrise)
    - Sunset (Sunset)
    - REM (REM)
    
They all seem to have a lot of NaN values, so let's check if that's true and if it is, we are going to discard them
'''
None

In [332]:
number_of_rows = weather_df.shape[0]

print("NaN occurence in HourlyPresentWeatherType: {} / {} => {}%".format(weather_df['HourlyPresentWeatherType'].isna().sum(), number_of_rows, round(weather_df['HourlyPresentWeatherType'].isna().sum()/number_of_rows*100, 2)))
print("NaN occurence in HourlySkyConditions: {} / {} => {}%".format(weather_df['HourlySkyConditions'].isna().sum(), number_of_rows, round(weather_df['HourlySkyConditions'].isna().sum()/number_of_rows*100, 2)))
print("NaN occurence in HourlyWindGustSpeed: {} / {} => {}%".format(weather_df['HourlyWindGustSpeed'].isna().sum(), number_of_rows, round(weather_df['HourlyWindGustSpeed'].isna().sum()/number_of_rows*100, 2)))
print("NaN occurence in Sunrise: {} / {} => {}%".format(weather_df['Sunrise'].isna().sum(), number_of_rows, round(weather_df['Sunrise'].isna().sum()/number_of_rows*100, 2)))
print("NaN occurence in Sunset: {} / {} => {}%".format(weather_df['Sunset'].isna().sum(), number_of_rows, round(weather_df['Sunset'].isna().sum()/number_of_rows*100, 2)))
print("NaN occurence in REM: {} / {} => {}%".format(weather_df['REM'].isna().sum(), number_of_rows, round(weather_df['REM'].isna().sum()/number_of_rows*100, 2)))

# HourlyPressureChange HourlyPressureTendency
print("NaN occurence in HourlyPressureChange: {} / {} => {}%".format(weather_df['HourlyPressureChange'].isna().sum(), number_of_rows, round(weather_df['HourlyPressureChange'].isna().sum()/number_of_rows*100, 2)))
print("NaN occurence in HourlyPressureTendency: {} / {} => {}%".format(weather_df['HourlyPressureTendency'].isna().sum(), number_of_rows, round(weather_df['HourlyPressureTendency'].isna().sum()/number_of_rows*100, 2)))

NaN occurence in HourlyPresentWeatherType: 324004 / 408747 => 79.27%
NaN occurence in HourlySkyConditions: 176396 / 408747 => 43.16%
NaN occurence in HourlyWindGustSpeed: 372488 / 408747 => 91.13%
NaN occurence in Sunrise: 399755 / 408747 => 97.8%
NaN occurence in Sunset: 399755 / 408747 => 97.8%
NaN occurence in REM: 94048 / 408747 => 23.01%
NaN occurence in HourlyPressureChange: 292738 / 408747 => 71.62%
NaN occurence in HourlyPressureTendency: 291974 / 408747 => 71.43%

In [333]:
# Most of these columns miss significant number of data and do not play most important role in the analysis.
# Hourly Present Weater Type could be important, 
# but since we have other types of data (Temp, Humidity, Precip, etc.) we can discard it
del weather_df['HourlyPresentWeatherType']
del weather_df['HourlySkyConditions']
del weather_df['HourlyWindGustSpeed']
del weather_df['Sunrise']
del weather_df['Sunset']
del weather_df['REM']

del weather_df['HourlyPressureChange']
del weather_df['HourlyPressureTendency']

In [334]:
weather_df.head(10)

,STATION,DATE,REPORT_TYPE,SOURCE,HourlyAltimeterSetting,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPrecipitation,HourlyRelativeHumidity,HourlySeaLevelPressure,HourlyStationPressure,HourlyVisibility,HourlyWetBulbTemperature,HourlyWindDirection,HourlyWindSpeed,REPORT_TYPE.1
0,72406093721,1991-01-01T00:00:00,SAO,C,30.59,13.0,29.0,0.0,51.0,30.60,30.42,19.88,24.0,330.0,9.0,SAO
1,72406093721,1991-01-01T01:00:00,SAO,3,30.59,13.0,28.0,0.0,53.0,30.60,30.42,19.88,24.0,320.0,8.0,SAO
2,72406093721,1991-01-01T02:00:00,SAO,3,30.60,15.0,26.0,0.0,63.0,30.60,30.43,19.88,23.0,260.0,5.0,SAO
3,72406093721,1991-01-01T03:00:00,SAO,3,30.62,16.0,26.0,0.0,66.0,30.63,30.45,19.88,23.0,320.0,6.0,SAO
4,72406093721,1991-01-01T04:00:00,SAO,3,30.61,16.0,24.0,0.0,71.0,30.62,30.44,19.88,22.0,350.0,3.0,SAO
5,72406093721,1991-01-01T05:00:00,SAO,3,30.60,16.0,22.0,0.0,78.0,30.61,30.43,19.88,20.0,250.0,5.0,SAO
6,72406093721,1991-01-01T06:00:00,SAO,3,30.60,18.0,22.0,0.0,85.0,30.61,30.43,19.88,21.0,290.0,3.0,SAO
7,72406093721,1991-01-01T07:00:00,SAO,3,30.62,18.0,21.0,0.0,88.0,30.63,30.45,19.88,20.0,280.0,6.0,SAO
8,72406093721,1991-01-01T08:00:00,SAO,3,30.63,18.0,21.0,0.0,88.0,30.64,30.46,19.88,20.0,260.0,6.0,SAO
9,72406093721,1991-01-01T09:00:00,SAO,3,30.63,19.0,30.0,0.0,64.0,30.64,30.46,19.88,26.0,30.0,3.0,SAO

In [335]:
# Now let us see NaN distribution among important columns that we have kept
# And if NaN exists, proceed with interpolation

In [336]:
col_list = list(weather_df.columns.values)
number_of_rows = weather_df.shape[0]

print("NaN occurrences in following columns:")
for c in col_list:
    nan_sum = weather_df[c].isna().sum()
    nan_percentage = round(nan_sum/number_of_rows*100, 2)
    print("    *{}: => {}%".format(c, nan_percentage))

NaN occurrences in following columns:
    *STATION: => 0.0%
    *DATE: => 0.0%
    *REPORT_TYPE: => 0.0%
    *SOURCE: => 0.0%
    *HourlyAltimeterSetting: => 23.06%
    *HourlyDewPointTemperature: => 18.16%
    *HourlyDryBulbTemperature: => 18.15%
    *HourlyPrecipitation: => 30.9%
    *HourlyRelativeHumidity: => 18.16%
    *HourlySeaLevelPressure: => 27.23%
    *HourlyStationPressure: => 34.91%
    *HourlyVisibility: => 17.18%
    *HourlyWetBulbTemperature: => 34.92%
    *HourlyWindDirection: => 20.86%
    *HourlyWindSpeed: => 17.33%
    *REPORT_TYPE.1: => 0.0%

In [337]:
# Alright, ~35% max of missing values, interpolation may help us in current pre-process

In [338]:
column_name = "HourlyAltimeterSetting"

weather_df['DATE'].head(5)

0    1991-01-01T00:00:00
1    1991-01-01T01:00:00
2    1991-01-01T02:00:00
3    1991-01-01T03:00:00
4    1991-01-01T04:00:00
Name: DATE, dtype: object

In [339]:
# sample date
weather_df['DATE'].iloc[1][5:13]

'01-01T01'

In [340]:
# columns with float dtype
float_columns = ["HourlyAltimeterSetting", "HourlyDewPointTemperature", 
                 "HourlyDryBulbTemperature", "HourlyPrecipitation", 
                 "HourlyRelativeHumidity", "HourlySeaLevelPressure", 
                 "HourlyStationPressure", "HourlyVisibility", 
                 "HourlyWetBulbTemperature", "HourlyWindDirection"]

In [341]:
for col in float_columns:
    weather_df[col].astype(float)

In [342]:
# Columns with consecutive NaNs
'''
{'HourlyAltimeterSetting',
 'HourlyDewPointTemperature',
 'HourlyDryBulbTemperature',
 'HourlyPrecipitation',
 'HourlyRelativeHumidity',
 'HourlyVisibility',
 'HourlyWetBulbTemperature',
 'HourlyWindDirection'}
'''
None

In [343]:
# find NaN
# get its row number
# get its date
# gather all similar dates, ignoring year
# print it
# average it
# put that average value into that NaN

In [344]:
weather_df_original = weather_df.copy(deep=True)

In [345]:
weather_df_original.to_csv("with_nan.csv")

In [346]:
weather_df_original.head(3)

,STATION,DATE,REPORT_TYPE,SOURCE,HourlyAltimeterSetting,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPrecipitation,HourlyRelativeHumidity,HourlySeaLevelPressure,HourlyStationPressure,HourlyVisibility,HourlyWetBulbTemperature,HourlyWindDirection,HourlyWindSpeed,REPORT_TYPE.1
0,72406093721,1991-01-01T00:00:00,SAO,C,30.59,13.0,29.0,0.0,51.0,30.6,30.42,19.88,24.0,330.0,9.0,SAO
1,72406093721,1991-01-01T01:00:00,SAO,3,30.59,13.0,28.0,0.0,53.0,30.6,30.42,19.88,24.0,320.0,8.0,SAO
2,72406093721,1991-01-01T02:00:00,SAO,3,30.60,15.0,26.0,0.0,63.0,30.6,30.43,19.88,23.0,260.0,5.0,SAO

In [347]:
weather_df_original.keys()

Index(['STATION', 'DATE', 'REPORT_TYPE', 'SOURCE', 'HourlyAltimeterSetting',
       'HourlyDewPointTemperature', 'HourlyDryBulbTemperature',
       'HourlyPrecipitation', 'HourlyRelativeHumidity',
       'HourlySeaLevelPressure', 'HourlyStationPressure', 'HourlyVisibility',
       'HourlyWetBulbTemperature', 'HourlyWindDirection', 'HourlyWindSpeed',
       'REPORT_TYPE.1'],
      dtype='object')

In [357]:
weather_df_w_Nan = pd.read_csv("with_nan.csv", low_memory=False)

col_list = list(weather_df_w_Nan.columns.values)
number_of_rows = weather_df_w_Nan.shape[0]

col_set_with_consecutive_nan = set()

for c in col_list:
    print("Going over column", c)
    if c in float_columns:
        for r in range(0, number_of_rows):
            if r+1 < number_of_rows:
                first_val = weather_df_w_Nan[c][r]
                second_val = weather_df_w_Nan[c][r+1]
                #print(first_val, second_val)
                #print(type(first_val), type(second_val))
                # consecutive case of NaN values
                # collect similar days from other years and replace it with average:
                if((np.isnan(first_val)) and (np.isnan(second_val))):
                    print("Consecutive case")
                    # r - row number
                    # date
                    correlated_date = weather_df_w_Nan["DATE"][r][5:13]
                    # get all similar rows with date
                    lst_of_correlated_days = []
                    for i in range(0, number_of_rows):
                        if weather_df_w_Nan["DATE"][i][5:13] == correlated_date:
                            if not np.isnan(weather_df_w_Nan[c][i]):
                                lst_of_correlated_days.append(weather_df_w_Nan[c][i])
#                             elif np.isnan(weather_df_w_Nan[c][i]):
#                                 try:
#                                     avg = (weather_df_w_Nan[c][i-1]+weather_df_w_Nan[c][i+1])/2
#                                     lst_of_correlated_days.append(avg)
#                                 except:
#                                     print("errored out")
#                                     pass
                                
                    if lst_of_correlated_days == []:
                        print("WARNING, ASSOCIATED DATA IS MISSING:")
                    else:
                        # SET
                        #weather_df_w_Nan[c][r] = statistics.mean(lst_of_correlated_days)
                        #print("Was: ", weather_df_w_Nan[c][r])
                        #print(statistics.mean(lst_of_correlated_days))
                        #print(lst_of_correlated_days)
                        weather_df_w_Nan.loc[ r, c ] = round(float(statistics.mean(lst_of_correlated_days)), 2)
                        #print("Became: ", weather_df_w_Nan[c][r])
                # replace NaN values with average (non-consecutive case)
                elif((np.isnan(first_val)) and (not np.isnan(second_val))):
                    #print("Non-consecutive case")
                    if r == 0:
                        # SET
                        indx = str(r)
                        #print("Was: ", weather_df_w_Nan[c][r])
                        weather_df_w_Nan.loc[ r, c ] = weather_df_w_Nan[c][r+1]
                        #weather_df_w_Nan[c][r] = weather_df_w_Nan[c][r+1]
                        #print("Became: ", weather_df_w_Nan[c][r])
                    else:
                        indx = str(r)
                        # SET
                        #print("Was: ", weather_df_w_Nan[c][r])
                        #weather_df_w_Nan[c][r] = (weather_df_w_Nan[c][r-1]+weather_df_w_Nan[c][r+1])/2
                        weather_df_w_Nan.loc[ r, c ] = round(float((weather_df_w_Nan[c][r-1]+weather_df_w_Nan[c][r+1])/2), 2)
                        #print("Became: ", weather_df_w_Nan[c][r])
                else:
                    pass

Going over column Unnamed: 0
Going over column STATION
Going over column DATE
Going over column REPORT_TYPE
Going over column SOURCE
Going over column HourlyAltimeterSetting
Consecutive case
Was:  nan
Became:  30.12
Consecutive case
Was:  nan
Became:  30.04
Consecutive case
Was:  nan
Became:  30.03
Consecutive case
Was:  nan
Became:  29.95
Consecutive case
Was:  nan
Became:  30.0
Consecutive case
Was:  nan
Became:  29.98
Consecutive case
Was:  nan
Became:  29.99
Consecutive case
Was:  nan
Became:  29.97
Consecutive case
Was:  nan
Became:  29.94
Consecutive case
Was:  nan
Became:  29.97
Consecutive case
Was:  nan
Became:  29.98
Consecutive case
Was:  nan
Became:  30.04
Consecutive case
Was:  nan
Became:  30.07
Consecutive case
Was:  nan
Became:  30.07
Consecutive case
Was:  nan
Became:  30.01
Consecutive case
Was:  nan
Became:  30.09
Consecutive case
Was:  nan
Became:  30.07
Consecutive case
Was:  nan
Became:  29.98
Consecutive case
Was:  nan
Became:  29.99
Consecutive case
Was:  nan
Became:  30.07
Consecutive case
Was:  nan
Became:  30.03
Consecutive case
Was:  nan
Became:  30.0
Consecutive case
Was:  nan
Became:  30.08
Consecutive case
Was:  nan
Became:  29.9
Consecutive case
Was:  nan
Became:  29.99
Consecutive case
Was:  nan
Became:  29.93
Consecutive case
Was:  nan
Became:  29.94
Consecutive case
Was:  nan
Became:  29.98
Consecutive case
Was:  nan
Became:  30.04
Consecutive case
Was:  nan
Became:  30.02
Consecutive case
Was:  nan
Became:  30.03
Consecutive case
Was:  nan
Became:  30.01
Consecutive case
Was:  nan
Became:  30.01
Consecutive case
Was:  nan
Became:  29.97
Consecutive case
Was:  nan
Became:  29.92
Consecutive case
Was:  nan
Became:  30.06
Consecutive case
Was:  nan
Became:  29.96
Consecutive case
Was:  nan
Became:  30.02
Consecutive case
Was:  nan
Became:  30.06
Consecutive case
Was:  nan
Became:  30.05
Consecutive case
Was:  nan
Became:  30.0
Consecutive case
Was:  nan
Became:  29.89
Consecutive case
Was:  nan
Became:  29.99
Consecutive case
Was:  nan
Became:  29.96
Consecutive case
Was:  nan
Became:  29.99
Consecutive case
Was:  nan
Became:  29.99
Consecutive case
Was:  nan
Became:  29.99
Consecutive case
Was:  nan
Became:  30.08
Consecutive case
Was:  nan
Became:  30.0
Consecutive case
Was:  nan
Became:  29.99
Consecutive case
Was:  nan
Became:  29.98
Consecutive case
Was:  nan
Became:  29.96
Consecutive case
Was:  nan
Became:  30.02
Consecutive case
Was:  nan
Became:  30.06
Consecutive case
Was:  nan
Became:  30.08
Consecutive case
Was:  nan
Became:  30.0
Consecutive case
Was:  nan
Became:  30.12
Consecutive case
Was:  nan
Became:  30.05
Consecutive case
Was:  nan
Became:  30.07
Consecutive case
Was:  nan
Became:  30.09
Consecutive case

KeyboardInterrupt:

In [184]:
col_list = list(weather_df.columns.values)
number_of_rows = weather_df.shape[0]

print("NaN occurrences in following columns:")
for c in col_list:
    nan_sum = weather_df[c].isna().sum()
    nan_percentage = round(nan_sum/number_of_rows*100, 2)
    print("    *{}: {}/{} => {}%".format(c, nan_sum, number_of_rows, nan_percentage))

NaN occurrences in following columns:
    *STATION: 0/408747 => 0.0%
       * int64
    *DATE: 0/408747 => 0.0%
       * object
    *REPORT_TYPE: 0/408747 => 0.0%
       * object
    *SOURCE: 0/408747 => 0.0%
       * object
    *HourlyAltimeterSetting: 94241/408747 => 23.06%
       * float64
    *HourlyDewPointTemperature: 74217/408747 => 18.16%
       * float64
    *HourlyDryBulbTemperature: 74179/408747 => 18.15%
       * float64
    *HourlyPrecipitation: 126307/408747 => 30.9%
       * float64
    *HourlyRelativeHumidity: 74222/408747 => 18.16%
       * float64
    *HourlySeaLevelPressure: 111310/408747 => 27.23%
       * float64
    *HourlyStationPressure: 142701/408747 => 34.91%
       * float64
    *HourlyVisibility: 70211/408747 => 17.18%
       * float64
    *HourlyWetBulbTemperature: 142718/408747 => 34.92%
       * float64
    *HourlyWindDirection: 85277/408747 => 20.86%
       * float64
    *HourlyWindSpeed: 70837/408747 => 17.33%
       * float64
    *REPORT_TYPE.1: 0/408747 => 0.0%
       * object